<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nerd Alert!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4992F58E1DDBCD4D005EF1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4992F5A21DDBCD4D005EF1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4992F5AD1DDBCD4D005EF1AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
